
/* -- variables START -- */

//------------------- fonts 
$font_1: 'Montserrat';
$font_2: 'RedHatDisplay';

//------------------- fonts### 

//------------------- header

$header_height: 70px;
$header_bg: #ebebebe7;
//------------------- header### 


$accent: #212122;

$gray_1: #999;
$gray_2: #525254;
$gray_3: #333333;

$blue_1: #6295ff;

$page_width: 1500px;

$border_radius: 5px;

$bottom_indent_content: 20px;



/* -- variables END -- */