@import "_base";
@mixin font($font_name, $file_name, $weight, $style) {

    @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
    }
}

@import "fonts";

/* -- variables START -- */

$text_shadow: #999999;

/* -- variables END -- */

.section_in {
    position: relative;
    margin: 0 auto;
}

.hero {
    .section_in {
        height: 100%;
    }
}

.hero_slider_bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;

    opacity: .7;
    opacity: 0;
}

.hero_slider_bg__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.hero_slider {
    overflow: hidden;
}

.hero_slider__slide {
    height: calc(100vh);
    display: flex;
    // background: rgb(176,143,248);
    // background: linear-gradient(90deg, rgba(176,143,248,1) 15%, rgba(244,200,251,1) 61%, rgba(106,225,221,1) 100%);

    &.hero_slider__slide--bg_mod_1 {
        background: rgb(153,195,0);
        background: linear-gradient(90deg, rgba(153,195,0,1) 18%, rgba(126,204,0,1) 50%, rgba(11,123,0,1) 94%);
    }

    &.hero_slider__slide--bg_mod_2 {
        background: rgb(252,153,127);
        background: linear-gradient(90deg, rgba(252,153,127,1) 19%, rgba(255,204,191,1) 49%, rgba(255,141,109,1) 80%);
    }

    &.hero_slider__slide--bg_mod_3 {
        background: rgb(244,107,110);
        background: linear-gradient(90deg, rgba(244,107,110,1) 19%, rgba(251,122,102,1) 49%, rgba(240,91,72,1) 80%);
    }
 }

.hero_slider__col {
    position: relative;
    z-index: 2;
    width: 50%;
    padding: 50px;
    
    &:last-child {
        display: flex;
    }
}

.hero_slider_img {
    display: flex;
    max-width: 400px;
    height: 100%;
    margin: 0 auto;
}

.hero_slider_img__wrap {
    display: block;    
    width: 100%;
    height: 100%;
}

.hero_slider_img__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hero_slider__content {
    width: 100%;
    margin: auto 0;
}

.hero_slider__label {
    position: relative;
    font-size: 20px;
    font-weight: 700;    
    text-shadow: 1px 1px $text_shadow;
    z-index: 2;
    margin-bottom: 40px;

    &.hero_slider__label--color_mod_1 {
        &::before {
            background-color: #6295ff;
        }
    }
    &.hero_slider__label--color_mod_2 {
        &::before {
            background-color: #ff7676;
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -30px;
        z-index: -1;
        width: 50px;
        height: 100%;
    }
}

.hero_slider__title {
    font-size: 55px;
    font-weight: 700;
    text-shadow: 1px 1px $text_shadow;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.hero_slider__size {
    font-size: 20px;
    text-shadow: 1px 1px $text_shadow;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;

    margin-bottom: 50px;
}
.hero_slider__descr {
    font-size: 20px;
    text-shadow: 1px 1px $text_shadow;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;

    margin-bottom: 50px;
}

.hero_slider__link {
    display: block;   
    min-width: 160px;
    width: 100%;
    padding: 15px 20px;
    font-size: 20px;
    text-align: center;
    background-color: #6295ff;
    max-width: max-content;
    border-radius: 30px;
    border: none;
    transition: .3s ease-in-out;
    &:hover {
        background-color: darken(#6295ff, 10%);
    }
}

.hero_slider__stroke {
    position: absolute;
    left: 50%;
    top: 20%;
    font-size: 220px;
    font-family: 'RedHatDisplay';
    font-weight: 700;
    letter-spacing: 20px;
    color: transparent;
    transform: translate(-50%);
    -webkit-text-stroke: 2px #fff;
    z-index: -1;
    text-align: center;
    opacity: .2;
}

.scroll_down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    z-index: 100;
    cursor: pointer;
    transform: translateX(-50%);

    &:hover {
        .scroll_down__arrow {
            transform: translateY(10px);
        }
    }
}

.scroll_down__text {
    font-size: 16px;
    margin-bottom: 5px;
}

.scroll_down__arrow {
    text-align: center;
    font-size: 20px;
    transition: .3s;
}

/* -- Hero END--*/

/* -- Product list START --*/

.product_list {}


/* -- Product list END --*/